.card {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  line-height: 2rem;
  padding: 2.5rem;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background: rgb(73, 199, 197);
  background: linear-gradient(
    315deg,
    rgba(73, 199, 197, 1) 25%,
    rgba(41, 152, 200, 1) 57%,
    rgba(18, 106, 182, 1) 95%
  );
  color: #fff;
}
