@import './exercise-detail';

.workout-card {
  &.Monday {
    background: #235789;
  }
  &.Tuesday {
    background: #1d84b5;
  }
  &.Friday {
    background: #85cb33;
  }
  &.Saturday {
    background: #eca400;
  }
  .workout-day {
    font-size: 1rem;
  }
  .workout-name {
    font-size: 1.4rem;
  }
}

.btn-add {
  width: 100%;
  height: 4rem;
  display: block;
  font: bold 1.4rem $font-stack;
  border: 1px solid #000;
  border-radius: 0.5rem;
  color: #000;

  @include respond-to(large) {
    width: 32rem;
  }
}
