@import 'theme';
@import 'mixins';
@import 'utils';
@import 'card';
@import 'dashboard';
@import '~antd/dist/antd.css';

html {
  font-size: 10px;
}

body {
  font-family: $font-roboto;
  background-color: #f5f8fb;
}

ul {
  padding: 0;
}
a {
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;
  outline: none;
  color: #fff;
  cursor: pointer;
}
